:root {
  --btn-light-background: #fff;
  --btn-light-border-color: #e5e5e5;
  --btn-light-text: #7f7f7f;
}

.btn-light {
  border-color: var(--btn-light-border-color);
  background-color: var(--btn-light-background);
  color: var(--btn-light-text);
}