:root {
  --main-sidebar: #262626;
  --page-sidebar: #fbfbfb;
  --page-background: #f3f3f3;
  --border-color: #ddd;
  --text-color: #1c1c1c;
  --title-bar-background: #fbfbfb;
  --title-bar-fontsize: 16px;
  --title-bar-color: var(--text-color);
  --title-bar-height: 54px;
}